.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

form {
  background-color: #1883e7;
  border: 3px dashed gray;
  padding: 5%;

}

label {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input {
  width: 70%;
  margin: 7px 0 0;
  display: block;
  border: 1px solid gray;
  border-radius: 3px;
  height: 25px;
}

.button {
  background-color: #61d81b;
  color: white;
  font-size: 1.2rem;
  margin-left: 10px;
  border: 1px solid gray;
}

button:hover {
  background-image: none;
  background-color: #cbe1d81b;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-image: none;
  background-color: white;
  border: 2px solid rgba(90, 86, 86, 0.1);
  color: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0f47b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}